// PUT ALL THE SECTIONS HERE

#section-card{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    // &:last-child{
    //     // height: 20rem;
    // }
}



.section-popup{

}