*,
*::after,
* ::before{
margin:0;
padding: 0;
box-sizing: inherit;
}

html{
    font-size: 62.5%;               //defines 1 rem = 10px, 10px/16px = 62.5%
    background-color: $color-black;
}

body{
box-sizing: border-box;
// padding: 3rem;
position: relative;
}


::selection{
    background-color: $color-primary;
    color: $color-white;
}
