*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  position: relative; }

::selection {
  background-color: #7ed56f;
  color: #fff; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 25rem; }
  .card__side {
    height: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../../img/logo.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.05)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__table {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;
  transition: all 0.9s;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(50%, 50%) scale(1); }
  .popup__content {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, 50%) scale(0);
    transition: all 0.5s 0.4s; }
  .popup__top {
    height: 33.333333%;
    display: table-cell; }
  .popup__bottom {
    height: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #999;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #999;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover {
    color: #7ed56f; }
  .popup__form__input[type=text], .popup__form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .popup__form__submit[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
    .popup__form__submit[type=submit]:hover {
      background-color: #45a049; }

#section-card {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto; }
