//COLORS
$color-primary:#e40b14;
$color-primary-light: #e40b14;
$color-primary-dark:#e40b14;

$color-secundary-light: #ffb900;
$color-sencundary-dark:#e40b14;

$color-tertuary-light: #2998ff;
$color-tertuary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;



//FONT
$default-font-size: 1.6rem;