.container{
    width: 20rem;
}
.chartDisplayers{
    width: 80%;
    background-color: rgba($color-white, 0.75);
    border-radius: 5%;
    border: none;
    transition: all 0.3s;

    &:hover{
        transform: translateY(-3px);
        transform: scale(1.1);
    }

    &:active,
    :focus,
    :visited{
        border: none;
        outline: none;
        transform: translateY(3px);
        transform: scale(1);
    }
}