.popup{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 200;
    transition: all 0.9s;

    //Diplsay: hidden can not be animated
    opacity: 0;
    visibility: hidden;
    

    &:target{
        //This is the the psuedo element for the ancre
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(50%, 50%) scale(1);
    }

    &__content{
        width: 50%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 3px;
        overflow: hidden;
        display: table;
        opacity: 0;
        transform: translate(-50%, 50%) scale(0);
        //Second timing stand for delay
        transition: all 0.5s 0.4s;
    }

    &__top{
        height: 33.33333%;
        display: table-cell;
    }



    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem; 
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }

            &:hover{
                color: $color-primary;
            }
    }

    &__form{


        &__label{

        }

        &__input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }

        &__selector{

        }

        &__option{

        }

        &__submit[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover{
                background-color: #45a049;
            }
          }
    }
}