*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #000; }

body {
  box-sizing: border-box;
  position: relative; }

::selection {
  background-color: #e40b14;
  color: #fff; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  width: 25rem;
  margin: 2rem; }
  .card__side {
    height: 45rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-color: #e40b14; }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #e40b14, #e40b14); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .card__picture--1 {
      background-color: #e40b14; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #e40b14, #e40b14), url(../../img/logo.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(228, 11, 20, 0.85)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(228, 11, 20, 0.85), rgba(228, 11, 20, 0.05)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__table {
    margin-bottom: 0.5rem;
    width: 100%; }
    .card__table tr:nth-child(even) {
      background-color: #ffb84d; }
    .card__table__th {
      width: 100%;
      color: #e40b14;
      text-align: center; }
    .card__table__tr {
      text-align: center;
      color: #fff; }
    .card__table__td__number {
      width: 20%;
      color: #fff; }
    .card__table__td__value {
      width: auto;
      color: #fff; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;
  transition: all 0.9s;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(50%, 50%) scale(1); }
  .popup__content {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, 50%) scale(0);
    transition: all 0.5s 0.4s; }
  .popup__top {
    height: 33.33333%;
    display: table-cell;
    margin-top: 25%; }
  .popup__bottom {
    height: 66.6666667%;
    vertical-align: middle;
    padding: 3rem 5rem;
    display: table-cell; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover {
    color: #e40b14; }
  .popup__close--delete {
    color: #e40b14;
    position: relative;
    top: -10rem;
    left: -5rem;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5%;
    border: none;
    transition: all 0.3s; }
    .popup__close--delete:hover {
      transform: translateY(-3px);
      transform: scale(1.3);
      color: red; }
    .popup__close--delete:active,
    .popup__close--delete :focus,
    .popup__close--delete :visited {
      border: none;
      outline: none;
      transform: translateY(3px);
      transform: scale(1); }
  .popup__form__input[type=text], .popup__form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .popup__form__submit[type=submit] {
    width: 100%;
    background-color: #e40b14;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
    .popup__form__submit[type=submit]:hover {
      background-color: #e40b14; }

.container {
  width: 20rem; }

.chartDisplayers {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5%;
  border: none;
  transition: all 0.3s; }
  .chartDisplayers:hover {
    transform: translateY(-3px);
    transform: scale(1.1); }
  .chartDisplayers:active,
  .chartDisplayers :focus,
  .chartDisplayers :visited {
    border: none;
    outline: none;
    transform: translateY(3px);
    transform: scale(1); }

#section-card {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto; }

main {
  background-color: rgba(0, 0, 0, 0.8); }
