/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #e40b14;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.vives-logo{
	width: 40px;
	padding: 3px;
}
.navbar.sticky{
    padding: 15px 0;
    background: #e40b14;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
	font-weight: 600;
	float: left;
}
.navbar .logo a span{
    color: #e40b14;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #e40b14;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #e40b14;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  
/* home section styling */
.home{
    display: flex;
	background: url("../img/dark.jpg") no-repeat center;
    height: 100vh;
	color: rgb(255, 255, 255);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
	font-size: 27px;
	font-weight: bold;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
	font-size: 40px;
	font-weight: bold;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #e40b14;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #e40b14;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #e40b14;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: black;
}

/* about section styling */
.about .title::after{
	content: "wie zijn wij";	
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #e40b14;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #e40b14;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #e40b14;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #e40b14;
    background: none;
}

/* footer section styling */
footer{
    background: #111;
	color: #fff;
	padding: 15px 23px;
    text-align: center;
}
footer span a{
    color: #e40b14;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* login page */
.login-html, .login-body{
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: linear-gradient(-135deg, #3b3a3b, #000000);

  }
  ::selection{
	background: #e40b14;
	color: #fff;
  }
  .wrapper{
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color: #fff;
	user-select: none;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(-135deg, #e40b14, #410000);
  }
  .wrapper form{
	padding: 10px 30px 50px 30px;
  }
  .wrapper form .field{
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
  }
  .wrapper form .field input{
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
	border-color: #e40b14;
  }
  .wrapper form .field label{
	position: absolute;
	top: 50%;
	left: 20px;
	color: #999999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
	top: 0%;
	font-size: 16px;
	color:#e40b14;
	background: #fff;
	transform: translateY(-50%);
  }
  form .content{
	display: flex;
	width: 100%;
	height: 50px;
	font-size: 16px;
	align-items: center;
	justify-content: space-around;
  }
  form .content .checkbox{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  form .content input{
	width: 15px;
	height: 15px;
	background: red;
  }
  form .content label{
	color: #262626;
	user-select: none;
	padding-left: 5px;
  }
  form .content .pass-link{
	color: "";
  }
  form .field input[type="submit"]{
	color: #fff;
	border: none;
	padding-left: 0;
	margin-top: -10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background: linear-gradient(-135deg, #e40b14, #410000);
	transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
	transform: scale(0.95);
  }
  form .signup-link{
	color: #262626;
	margin-top: 20px;
	text-align: center;
  }
  form .pass-link a,
  form .signup-link a{
	color: #4158d0;
	text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
	text-decoration: underline;
  }

  /* register page */
.register-html, .register-body{
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: linear-gradient(-135deg, #3b3a3b, #000000);

  }
  ::selection{
	background: #e40b14;
	color: #fff;
  }
  .wrapper{
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color: #fff;
	user-select: none;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(-135deg, #e40b14, #410000);
  }
  .wrapper form{
	padding: 10px 30px 50px 30px;
  }
  .wrapper form .field{
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
  }
  .wrapper form .field input{
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
	border-color: #e40b14;
  }
  .wrapper form .field label{
	position: absolute;
	top: 50%;
	left: 20px;
	color: #999999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
	top: 0%;
	font-size: 16px;
	color:#e40b14;
	background: #fff;
	transform: translateY(-50%);
  }
  form .content{
	display: flex;
	width: 100%;
	height: 50px;
	font-size: 16px;
	align-items: center;
	justify-content: space-around;
  }
  form .content .checkbox{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  form .content input{
	width: 15px;
	height: 15px;
	background: red;
  }
  form .content label{
	color: #262626;
	user-select: none;
	padding-left: 5px;
  }
  form .content .pass-link{
	color: "";
  }
  form .field input[type="submit"]{
	color: #fff;
	border: none;
	padding-left: 0;
	margin-top: -10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background: linear-gradient(-135deg, #e40b14, #410000);
	transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
	transform: scale(0.95);
  }
  form .signup-link{
	color: #262626;
	margin-top: 20px;
	text-align: center;
  }
  form .pass-link a,
  form .signup-link a{
	color: #4158d0;
	text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
	text-decoration: underline;
  }

/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}